<nav class="navbar navbar-light " style="background-color: #238DDCFF;">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['']">Avia Tickets</a>
    <div class="row justify-content-md-right" >
      <div class="col-md-auto"*ngIf="!isLogin">
        <a class="navbar-text" [routerLink]="['/regisrt']">Регистрация</a>
      </div>
      <div class="col-md-auto" *ngIf="!isLogin">
        <a class="navbar-text" [routerLink]="['/login']">Авторизация</a>
      </div>
      <div class="col-md-auto" *ngIf="isLogin">
        <a class="navbar-text " [routerLink]="['/profile']">Личный Кабинет</a>
      </div>
      <div class="col-md-auto" *ngIf="isLogin && user.role=='ADMIN'">
        <a class="navbar-text " [routerLink]="['/admin']">Админ</a>
      </div>
<!--      <div class="col-md-auto">-->
<!--        <a class="navbar-text" [routerLink]="['/brasket']">Корзина</a>-->
<!--      </div>-->
      <div class="col-md-auto" *ngIf="isLogin">
        <button style="background: none;border: none" class="navbar-text" (click)="logout()">Выход</button>
      </div>
    </div>
  </div>
</nav>

