<div class="container ">
  <div class="search_tabs_container">
    <div class="search_tabs d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
      <div class="search_tab active d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><span>фильтры:</span></div>
      <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start">по цене</div>
      <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start">по дате</div>
      <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start">по количеству пересадок</div>
      <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start">по длительности пересадок</div>
    </div>
  </div>
<div class="container container_class_border">
  <div class = "textticket">Результат поиска:</div>
  <div class="row justify-content-center">
    <div class ="container">
    <a class = "textfind">эти😊блики✨ослепляют☀эти🌻фоточки🖼с📷цепями⛓тот🥰рефлекшн🪞из↩китая🇨🇳почему❓все🌌исчезает💨 эти😊птицы🕊улетают🎶твой👊левел🆙недосягаем😭сильный💪дождь🌧он⛈лечит🏥раны🤕эти⛔деньги💵пропадают💸</a>
    </div>
  </div>

  <div class="search_tabs_container">
    <div class="search_tabs d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
      <div class="search_tab active d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><span>билет1</span></div>
    </div>
  </div>
  <div class="row justify-content-center container_class_border">
    <div class ="container">

      <a class = "textticket">эти😊блики✨ослепляют☀эти🌻фоточки🖼с📷цепями⛓тот🥰рефлекшн🪞из↩китая🇨🇳почему❓все🌌исчезает💨 эти😊птицы🕊улетают🎶твой👊левел🆙недосягаем😭сильный💪дождь🌧он⛈лечит🏥раны🤕эти⛔деньги💵пропадают💸</a>
      <div class="search_tabs_container">
        <div class="search_tabs d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
          <div class="search_tab active d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><span>билет1</span></div>
        </div>
      </div>
      <div class="row justify-content-center container_class_border">
        <div class ="container">

          <a class = "textticket">эти😊блики✨ослепляют☀эти🌻фоточки🖼с📷цепями⛓тот🥰рефлекшн🪞из↩китая🇨🇳почему❓все🌌исчезает💨 эти😊птицы🕊улетают🎶твой👊левел🆙недосягаем😭сильный💪дождь🌧он⛈лечит🏥раны🤕эти⛔деньги💵пропадают💸</a>
        </div>
      </div>
      <div class="search_tabs_container">
        <div class="search_tabs d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
          <div class="search_tab active d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><span>билет1</span></div>
        </div>
      </div>
      <div class="row justify-content-center container_class_border">
        <div class ="container">

          <a class = "textticket">эти😊блики✨ослепляют☀эти🌻фоточки🖼с📷цепями⛓тот🥰рефлекшн🪞из↩китая🇨🇳почему❓все🌌исчезает💨 эти😊птицы🕊улетают🎶твой👊левел🆙недосягаем😭сильный💪дождь🌧он⛈лечит🏥раны🤕эти⛔деньги💵пропадают💸</a>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
