<div class="container ">
  <div class="search_tabs_container">
    <div class="search_tabs d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
      <div class="search_tab active d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><span>фильтры:</span></div>
      <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start">по цене</div>
      <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start">по дате</div>
      <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start">по количеству пересадок</div>
      <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start">по длительности пересадок</div>
    </div>
  </div>
<div class="container container_class_border">
  <div class="row justify-content-center">
    <!--Контейнер поиска-->
    <div class ="container">
    </div>
  </div>
  <!--Контейнер билета-->
  <div class="search_tabs_container">
    <div class="search_tabs d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
      <div class="search_tab active d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><span>билет1</span></div>
    </div>
  </div>
  <div class="row justify-content-center container_class_border">
    <div class ="container">
      <!--Дата отправки Дата прибытия Начальная Точка Конечная точка итог-->
      <span class = "price">Price</span>
      <button type="button" class="btn btn-success">Купить</button>
      <table class="table table-borderless">
        <tr>
          <td>Воронеж - Москва</td>
          <td>Дата</td>
          <td>Аэропорт</td>
          <td>Посадочное место</td>
        </tr>
        <tr>
          <td>21:05-21:15</td>
          <td>20.01.2000 - 20.01.2001</td>
          <td>Домодедово - Другой</td>
          <td>ряд : 1 место : 1</td>
        </tr>
      </table>
      <!--Контейнер подбилета-->
      <div class="search_tabs_container">
        <div class="search_tabs d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
          <div class="search_tab active d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><span>подбилет1</span></div>
        </div>
      </div>
      <div class="row justify-content-center container_class_border">
        <div class ="container">
          <!--Дата отправки Дата прибытия Начальная Точка Конечная точка Место Цена-->
          <span class = "price">Price</span>
          <table class="table table-borderless">
            <tr>
              <td>Воронеж - Москва</td>
              <td>Дата</td>
              <td>Аэропорт</td>
              <td>Посадочное место</td>
              </tr>
            <tr>
              <td>21:05-21:15</td>
              <td>20.01.2000 - 20.01.2001</td>
              <td>Домодедово - Другой</td>
              <td>ряд : 1 место : 1</td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
