.errors{
  color: #ffffff;
  font-size:20px ;

}
.form-group{
  margin-bottom: 15px;
}
label{
  margin-bottom: 15px;
}
input,
input::-webkit-input-placeholder {
  font-size: 11px;
  padding-top: 3px;
  font-size: 16px;
}
.form-control {
  height: auto!important;
  padding: 8px 12px !important;

}

#button {
  border: 1px solid #ccc;
  margin-top: 28px;
  padding: 6px 12px;
  font-size: 20px;
  color: #666;
  text-shadow: 0 1px #fff;
  cursor: pointer;
  border-radius: 3px 3px;
  box-shadow: 0 1px #fff inset, 0 1px #ddd;
  background: #f5f5f5;
  background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
  background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
}
.main-form{
  margin-top: 30px;
  margin: 0 auto;
  max-width: 400px;
  padding: 10px 40px;
  background: linear-gradient(to right, #7092f3, #05c2fd);
  color: #FFF;
  text-shadow: none;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
}

.login-button{
  margin-top: 5px;
}
.text {
  font-size: 17px;
}



.load{
  margin-top: 3%;
  margin-bottom: 2%;
  text-align: center;
  font-size: 20px;
  color: #2F496E;
}


.errors_b{
  border: 1px solid  #AF1C1C;
  border-radius: 5px;
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: center;
  font-size: 17px;
  color: #AF1C1C;
  background: #ffffff;
}

