<div class="container text-ali">
  <div class="row main-form">
    <form class="" method="post" action="#">



      <div class="form-group">
        <label for="username" class="cols-sm-2 control-label text">Имя Пользователя</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <input type="text" class="form-control text" name="username" id="username" placeholder="Введите имя пользователя"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="cols-sm-2 control-label text">Пароль</label>
        <div class="cols-md-5">
          <div class="input-group">
            <input type="password" class="form-control text" name="password" id="password" placeholder="Введите пароль" required="required"/>
          </div>
        </div>
      </div>


      <div class="form-group ">
        <a href="#" target="_blank" type="button" id="button" class="btn btn-primary btn-lg btn-block login-button">Авторизация</a>
      </div>

    </form>
  </div>
</div>
