<div class="container text-ali">
  <div class="row main-form">
    <form class="" method="post" action="#">

      <div class="form-group">
        <label for="firstname" class="cols-sm-2 control-label text">Ваше Имя</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <input type="text" class="form-control text " name="firstname" id="firstname" placeholder="Введите ваше имя"/>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="lastname" class="cols-sm-2 control-label text">Ваша Фамилия</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <input type="text" class="form-control text " name="lastname" id="lastname" placeholder="Введите вашу фамилию"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="email" class="cols-sm-2 control-label text">Адрес Электронной Почты</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <input type="text" class="form-control text" name="email" id="email" placeholder="Введите адрес электронной почты"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="username" class="cols-sm-2 control-label text">Имя Пользователя</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <input type="text" class="form-control text" name="username" id="username" placeholder="Введите имя пользователя"/>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="city" class="cols-sm-2 control-label text">Город</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <input type="text" class="form-control text " name="city" id="city" placeholder="Введите ваш город"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="phone" class="cols-sm-2 control-label text">Номер телефона</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <input type="text" class="form-control text" name="phone" id="phone" placeholder="Введите ваш номер телефона" required="required"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="cols-sm-2 control-label text">Пароль</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <input type="password" class="form-control text" name="password" id="password" placeholder="Введите пароль"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="confirm" class="cols-sm-2 control-label text">Подтверждение Пароля</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <input type="password" class="form-control text" name="confirm" id="confirm" placeholder="Подтвердите пароль"/>
          </div>
        </div>
      </div>

      <div class="form-group ">
        <a href="#" target="_blank" type="button" id="button" class="btn btn-primary btn-lg btn-block login-button">Регистрация</a>
      </div>

    </form>
  </div>
</div>
