.noaval{
  text-align: center;
  font-size: 30px;
  color: #AF1C1C;
}
.custl {
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}
.container_class_border {

  border: 8px solid #7092f3;

  border-radius: 0 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 0px;
  margin: 0 auto
}
.price {
  width: 100%;
  height: 35px;
  border: none;
  outline: none;
  padding-left: 0px;
  padding-right: 15px;
  font-size: 27px;
  font-weight: 435;
  color: #0a43e7;
  text-decoration: none;
}
.container{
  padding: 10px;
  padding-left:15px ;
  padding-right: 15px;
}
.textfind{
  width: 100%;
  height: 35px;
  border: none;
  outline: none;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 24px;
  font-weight: 435;
  color: #000000;
  text-decoration: none;
}
.textticket{
  width: 100%;
  height: 25px;
  border: none;
  outline: none;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 435;
  color: #000000;
  text-decoration: none;
}

.search_tabs
{
  height: 2.1vw;
}
.search_tab
{
  font-size: 14px;
  font-weight: 700;
  color: #2d2c2c;
  text-transform: uppercase;
  text-align: center;
  height: 100%;
  flex-grow: 1;
  background: #05c2fd;
  cursor: pointer;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.search_tab:first-child
{
  border-top-left-radius: 94px;
  padding-left: 7px;
}
.search_tab:last-child
{
  border-top-right-radius: 94px;
  padding-right: 7px;
}
.search_tab.active
{
  background: #7092f3;
  color: #000000;
}

.search_tab:hover
{
  background: #7092f3;
  color: #000000;
}
.ticket-desktop__content {
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.table{
  font-size: 22px;
  font-weight: 400;
  margin-top: 10px;
}
.btn{
  float: right;
  margin-top: 5px;
  padding: 6px 12px;
  font-size: 30px;
}
.btn4{
  float: right;
  margin-top: 5px;
  padding: 6px 12px;
  font-size: 20px;
  display:inline-block;
  background-color: #0eff9d;
  color: #184297;
  font-weight: 475;
}
.text{
  font-size: 20px;
}
